.panda-card{
    border: none;
}
.panda-card-footer{
    background-color: white;
    border: none;
}
.categories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}

input{
   box-sizing: border-box;
   margin-top: 2px;
   padding: 5px!important;
   line-height: 30px;
   border: none;
}